LND/UT 6/6.8/12_bib.dtd

<!ELEMENT bib (libro|revista)+>
<!ELEMENT libro EMPTY>
<!ELEMENT revista EMPTY>
<!ATTLIST libro titulo CDATA #REQUIRED>
<!ATTLIST libro editorial CDATA #REQUIRED>
<!ATTLIST libro autor CDATA #REQUIRED>
<!ATTLIST revista titulo CDATA #REQUIRED>
<!ATTLIST revista editorial CDATA #REQUIRED>
<!ATTLIST revista numero CDATA #REQUIRED>