LND/UT 6/6.8/6_cancion.dtd

<!ELEMENT cancion (titulo, compositor+, productor+, sello, artista)>
<!ATTLIST cancion duracion CDATA #REQUIRED>
<!ATTLIST cancion anio CDATA #REQUIRED>
    <!ELEMENT titulo (#PCDATA)>
    <!ELEMENT compositor (nombre, apellidos)>
    <!ELEMENT productor (nombre, apellidos)>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT apellidos (#PCDATA)>
    <!ELEMENT sello (#PCDATA)>
    <!ELEMENT arctista (#PCDATA)>