LND/UT 6/Examen/BIBLIOTECA.dtd

<!ELEMENT BIBLIOTECA (LIBRO+)>
<!ATTLIST BIBLIOTECA xmlns:xsi CDATA #IMPLIED>
<!ATTLIST BIBLIOTECA xsi:noNamespaceSchemaLocation CDATA #IMPLIED>
<!ELEMENT LIBRO (TITULO, AUTOR+, ANYO, EDITORIAL)>
<!ATTLIST LIBRO COD CDATA #REQUIRED>
<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AUTOR (#PCDATA)>
<!ELEMENT ANYO (#PCDATA)>
<!ELEMENT EDITORIAL (#PCDATA)>